.hpgv_ui-block {
    color: #364565;
    background-color: #fff;
    font-size: 12px;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

.hpgv_panel {
    color: #737d94;
}

.hpgv_track {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    --loading-indicator: #8ea1bf;
    --cursor: #3645653b;
    --secondary-cursor: #3645653b;
}

.hpgv_track-close-button {
    display: none;
}

.hpgv {
    color: black;
}

.hpgv_ui-block {
    color: black;
}

.hpgv_panel-header {
    display: none;
}

.hpgv_track-sequence {
    color: black;
}

.hpgv {
    margin-top: -50px;
    // z-index: -999;
}